.amf-newsletter-search-web {
}
.container-newsletterr-result {
  padding : 20px;
}
.container-newsletterr-result h1 label {
  color: #6c91b7;
  font-size: 30px;
  margin-left: 10px;
}
p.issue-date,
p.byline{
  margin-bottom: 5px;
  color: #6c91b7;
}
a.search-result-link {
  text-decoration: none;
}
a.search-result-link h2 {
  color: #6c91b7;
}